<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Cyber Security Analyst at
      <a class="underline-link" href="https://www.bnymellon.com/" target="_blank">BNY Mellon</a>. I studied at 
      <a class="underline-link" href="https://www.ece.rutgers.edu/" target="_blank">Rutgers University - New Brunswick</a> 
    </p>

    <p>
      As a Cyber Security analyst, I oversee vulnerabilities, identify &amp; automate technical debt, and document workflows. &mdash; I'm also currently working on some cool certifications!
      <ul class="a">
        <li>
          <a class="underline-link" href="https://www.redhat.com/en/services/certification/rhce" target="_blank">Azure Fundamentals</a>
        </li>
        <li>
          <a class="underline-link" href="https://www.redhat.com/en/services/certification/rhcsa" target="_blank">AWS Certified</a>
        </li>
      </ul>
    </p>



    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably reading for my next book club meeting, jogging, or listening to music!
    </p>
    <!-- {% include employment-status.html %} -->
  </div>
</section>
