<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Systems Engineer at
      <a class="underline-link" href="https://www.xandr.com/" target="_blank">Xandr</a>. I studied at 
      <a class="underline-link" href="https://www.cs.rutgers.edu/" target="_blank">Rutgers University - New Brunswick</a> and completed 3 internships at the following companies:
      <a class="underline-link" href="https://www.linkedin.com/company/appnexus/" target="_blank">AppNexus</a>,
      <a class="underline-link" href="https://www.prudential.com/" target="_blank">Prudential</a>, and
      <a class="underline-link" href="https://www.viacomcbs.com/" target="_blank">Viacom</a>.
    </p>

    <p>
      As a systems engineer, I oversee a fleet of 10k+ machines globally, identify &amp; automate technical debt, scale our systems to tackle extreme workloads, and write lots of config files &mdash; I'm also currently working on some cool certifications!
      <ul class="a">
        <li>
          <a class="underline-link" href="https://www.redhat.com/en/services/certification/rhce" target="_blank">Red Hat Certified Engineer</a>
        </li>
        <li>
          <a class="underline-link" href="https://www.redhat.com/en/services/certification/rhcsa" target="_blank">Red Hat Certified System Administrator</a>
        </li>
        <li>
          <a class="underline-link" href="https://pythoninstitute.org/certification/pcep-certification-entry-level/" target="_blank">Certified Entry-Level Python Programmer</a>
        </li>
        <li>
          <a class="underline-link" href="https://docs.microsoft.com/en-us/learn/certifications/azure-fundamentals" target="_blank">Microsoft Certified: Azure Fundamentals</a>
        </li>
      </ul>
    </p>



    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably reading, cooking some delicious food, or helping with community-driven tech efforts!
    </p>
    <!-- {% include employment-status.html %} -->
  </div>
</section>
