<header class="intro">
  <h1 class="intro__hello">Hello!
    <!-- <span class="emoji wave-hand animated"></span> -->
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Naeem Hossain</span>, an industrious worker with experience in software engineering, systems design, reliability, &amp; operations 
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <!-- <span class="emoji pointer"></span> -->
    <span>
      <a href="mailto:naeemhossain.mail@gmail.com" target="_blank" class="highlight-link">naeemhossain.mail@gmail.com</a>
    </span>
  </h3>
  <footer class="footer">
    <div class="footer__links">
      <!-- <div style="display: flex; justify-content: start; vertical-align: top;"> -->
        <div style="display: flex; float: left; vertical-align: top;"> 
        {% for link in site.social %}
        <a href="{{link.url}}" target="_blank" title="{{link.title}}">
          <span class="text">{{link.title}}</span>
          <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
        </a>
        {% endfor %}
      </div>
    </div>
  </footer>
</header>
<footer class="footer">
  <div class="footer__links">
    <div style="display: flex; justify-content: flex-start; vertical-align: top;">
      {% for link in site.social %}
      <a href="{{link.url}}" target="_blank" title="{{link.title}}">
        <span class="text">{{link.title}}</span>
        <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
      </a>
      {% endfor %}
    </div>
  </div>
</footer>

<!--
<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span></span>
    </div>
    <div class="bottom">
      <span>Brittany Chiang</span>
      <img class="emoji" src="{{site.baseurl}}/img/emojis/rockon.png" alt="emoji">
      <span>2018</span>
    </div>
  </div>
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
    </a>
    {% endfor %}
  </div>
</footer>
-->